<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weather</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{BASE_TAG}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/weather.css">
  </head>
  <body>
    <script>
      window.WeatherENV = {{ENV}};
      window.EmberENV = window.WeatherENV.EmberENV;
    </script>
    <script src="assets/vendor.js"></script>
    <script src="assets/weather.js"></script>
    <script>
      window.Weather = require('weather/app')['default'].create(WeatherENV.APP);
    </script>
  </body>
</html>
