<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Weather</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {{#each}}
          <li>{{#link-to "condition" id}}{{name}}{{/link-to}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="starter-template">
    {{outlet}}
  </div>
</div>
